version: "3.8"

services:
  auth-service:
    build: ./auth-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: test

  price-processor:
    build: ./price-processor
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: test
    depends_on:
      - auth-service
