name: CI

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build & run services
        run: |
          docker compose -f docker-compose.test.yml up -d --build
          sleep 25

      - name: Wait for auth-service to be healthy
        run: |
          until curl -s http://localhost:8081/actuator/health | grep UP; do
            echo "Waiting for auth-service..."
            sleep 5
          done

      - name: Run tests
        run: |
          mvn test
          docker compose down

      - name: Shutdown
        if: always()
        run: docker compose down
