name: CI

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build & run services
        run: |
          docker compose -f docker-compose.ci.yml up -d --build
          sleep 25

      - name: Run tests
        run: |
          docker compose exec price-processor mvn test

      - name: Shutdown
        if: always()
        run: docker compose down
